@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  color: white;
}

@layer utilities {
  .bg-scanlines {
    background: repeating-linear-gradient(0deg,
        transparent,
        transparent 2px,
        #000 3px,
        #000 3px);
  }

  .glitch-text {
    text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff;
    animation: glitch 1s infinite reverse;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}


/* Mindfulness Animations */
@keyframes breathe {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
}

.animate-breathe {
  animation: breathe 8s ease-in-out infinite;
}

@keyframes text-inhale {

  0%,
  45% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@keyframes text-exhale {

  0%,
  45% {
    opacity: 0;
  }

  50%,
  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-text-exhale {
  animation: text-exhale 8s ease-in-out infinite;
}

/* Data Scrollbar Hiding */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

/* Hide Number Input Spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}